body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #36393f;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2f3136;
    padding: 20px;
}

.sidebar-header {
    text-align: center;
}

.sidebar-content {
    margin-top: 20px;
}

.user-list {
    margin-bottom: 20px;
}

.channels {
    margin-top: 20px;
}

.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #7289da;
    padding: 10px;
}

.chat-header h2 {
    margin: 0;
}

.chat-messages {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
}

.message {
    margin-bottom: 10px;
}

.user {
    font-weight: bold;
    color: #7289da;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2f3136;
}

#message-input {
    flex: 1;
    height: 40px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    background-color: #40444b;
    color: #fff;
}

#send-btn {
    height: 40px;
    padding: 0 20px;
    border: none;
    background-color: #7289da;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #5f73a1;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #36393f;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.modal input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal button {
    padding: 10px 20px;
    border: none;
    background-color: #7289da;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #5f73a1;
}
